---
import Stars from '../assets/stars.svg'
import Paris from '../assets/paris.png'
import Ski from '../assets/ski.png'
import Normal from '../assets/normal.png'
import Cowboy from '../assets/cowboy.png'
import Kitten from '../assets/kitten.png'
import Lights from '../assets/lights.png'
import Beanie from '../assets/beanie.png'
import Gencon from '../assets/gencon.png'
---

<section class="product-reviews" id="customers">
    <div class="container">
        <div class="center">
            <div class="text-container">
                <h3 class="h1-title">Trusted by the companies you trust</h3>
                <p>You've heard of some of my employers, and their stock prices are way up</p>
            </div>

            <div class="customer-reviews m-margin">
                <div class="flex center">
                    <img src={Stars}>
                    <span class="s-paragraph">Based, with 100% customer satisfaction</span>
                </div>
                <small><strong>5</strong> customers and counting</small>
            </div>
            <div class="center">
                <a href="#" class="button button-primary">Start Interviewing — It's Free</a>
                <small class="block">No credit card required.</small>
            </div>
        </div>

        <div class="customer-avatars">
           <div class="left-side-avatars">
              <div class="circular-image">
                <img src={Paris}>
               </div>
               <div class="circular-image">
                 <img src={Ski}>
               </div>
               <div class="circular-image">
                 <img src={Normal}>
               </div>
               <div class="circular-image">
                   <img src={Cowboy}>
               </div>
           </div>
           <div class="right-side-avatars">
            <div class="circular-image">
              <img src={Kitten}>
             </div>
             <div class="circular-image">
               <img src={Lights}>
             </div>
             <div class="circular-image">
               <img src={Beanie}>
             </div>
             <div class="circular-image">
                 <img src={Gencon}>
             </div>
          </div>
        </div>
    </div>
 </section>


 <style lang="scss">

  .product-reviews{
    padding: 80px 0;
    background-color: #fff;
    .customer-reviews{
      img{
        width: 80px;
      }
      span{
         margin-left: 10px;
      }
    }
    .text-container{
      max-width: 400px;
      margin: 10px auto;
    }
    p, h3{
      margin: 10px 0;
    }
    .container{
      padding: 70px 0;
      position: relative;
      
    }
    .customer-avatars{
      .circular-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        img{
          width: 100%;
        }
      }

      .circular-image{
        position: absolute;
      }
      .left-side-avatars .circular-image{
        &:nth-child(1){
          top: 0; left: 20%;
        }
        &:nth-child(2){
          top: 14%; left: 5%;
        }
        &:nth-child(3){
          bottom: 14%; left: 5%;
        }
        &:nth-child(4){
          bottom: 0%; left: 20%;
        }
      }
      .right-side-avatars .circular-image{
        &:nth-child(1){
          top: 0; right: 20%;
        }
        &:nth-child(2){
          top: 14%; right: 5%;
        }
        &:nth-child(3){
          bottom: 14%; right: 5%;
        }
        &:nth-child(4){
          bottom: 0%; right: 20%;
        }
      }
     
    }

    @media (max-width:700px) {
      .circular-image img{
        display: none;
      }
    }
  }
 </style>